---

import LayoutPhoto from "@assets/illustrations/layout2.png";
import MailIcon from "@assets/icons/MailIcon.astro";
---

<section class="relative flex flex-col items-center justify-center gap-8 h-[175dvh] overflow-hidden ">
    <div class="absolute w-full h-full">
        <dir class="white-filter -z-10"></dir>
        <div class="absolute grid-overlay -z-20"></div>
    </div>
    <MailIcon />
    <h1 class="text-4xl font-bold text-center">
        Convierto los objetivos<br>
        en realidad
    </h1>
    <p class="text-center text-slate-400 max-w-xl" >
        Coordino todas las áreas corporativas detectando, 
        analizando e implantando planes de acción o proyectos que permitan a 
        las compañía aportar valor a los clientes y alcanzar sus objetivos generales.
    </p>
<div>
    <div class="item item1">
        <img
        src={LayoutPhoto.src}
        style="translate: none; rotate: none; scale: none; transform: translate3d(0px, -144.835px, 0px);"></div>
    </div>
    <div class="item item2">
        <img
        src={LayoutPhoto.src}
        style="translate: none; rotate: none; scale: none; transform: translate3d(0px, -144.835px, 0px);"></div>
    </div>

    <div class="item item3">
        <img
        src={LayoutPhoto.src}
        style="translate: none; rotate: none; scale: none; transform: translate3d(0px, -144.835px, 0px);">
    </div>
    <div class="item item4"> 
        <img
        src={LayoutPhoto.src}
        style="translate: none; rotate: none; scale: none; transform: translate3d(0px, -144.835px, 0px);">
    </div>
</div>
    

    
</section>

<style>
    .grid-overlay {
        background-size: 45px 45px;
        background-image: linear-gradient(#dee1e9 1px, transparent 1px), linear-gradient(90deg, #dee1e9 1px, transparent 1px);
        background-position: 0 0, 40px 40px;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .white-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(at center, transparent, white 75%, white 75%);
    }


  /* Estilos básicos para los elementos */
  .item {
    position:absolute;
    width: 45%;
  }

  .item img {
    width: 100%;
    height: auto;
  }

  /* Posicionamiento de cada elemento */
  .item1 { top: 20%; right: -10%; }
  .item2 { top: 25%;    left: -10%; }
  .item3 { bottom: 5%; left: -10%; }
  .item4 { bottom: 0%; right: -10%; }

</style>


<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);

  // Animación para el Elemento 1: se mueve hacia arriba
  gsap.to(".item1", {
    y: -200, // mueve 50px hacia arriba
    ease: "none",
    scrollTrigger: {
      trigger: ".item1",
      start: "top bottom",
      end: "bottom top",
      scrub: true,
    }
  });

  // Animación para el Elemento 2: se mueve hacia abajo
  gsap.to(".item2", {
    y: -200, // mueve 50px hacia abajo
    ease: "none",
    scrollTrigger: {
      trigger: ".item2",
      start: "top bottom",
      end: "bottom top",
      scrub: true,
    }
  });

  // Animación para el Elemento 3: se mueve hacia la izquierda
  gsap.to(".item3", {
    y: -200, // mueve 50px hacia la izquierda
    ease: "none",
    scrollTrigger: {
      trigger: ".item3",
      start: "top bottom",
      end: "bottom top",
      scrub: true,
    }
  });

  // Animación para el Elemento 4: se mueve hacia la derecha
  gsap.to(".item4", {
    y: -200, // mueve 50px hacia la derecha
    ease: "none",
    scrollTrigger: {
      trigger: ".item4",
      start: "top bottom",
      end: "bottom top",
      scrub: true,
    }
  });
</script>