---
import Achievements from "../components/Achievements.astro";
import Education from "../components/Education.astro";
import First from "../components/First.astro";
import HistoricStats from "../components/HistoricStats.astro";
import HomeBlog from "@features/blog/components/HomeBlog.astro";
import Skillset from "../components/Skillset.astro";
import ContactForm from "../components/ContactForm.astro";
---

	<main class="">
		<First />
		<div id="achievements">
			<Achievements />
		</div>
		<HistoricStats />
		<Education />
		<div id="skillset">
			<Skillset />
		</div>
		<HomeBlog />
		<div id="contact">
			<ContactForm />
		</div>
	</main>
