---
import Layout from '@app/layout/Layout.astro';
import StructuredData from '@shared/components/StructuredData.astro';
import { getAllPosts } from "@content/blog";
import BlogGrid from '@features/blog/utils/BlogGrid';

const posts = await getAllPosts();
const selectedCategory = Astro.url.searchParams.get('category') || '';

// Datos para el schema Breadcrumb
const siteUrl = Astro.site?.href || 'https://carlosquinza.es';
const breadcrumbStructuredData = {
  breadcrumbs: [
    { name: 'Inicio', url: siteUrl },
    { name: 'Blog', url: `${siteUrl}/blog` }
  ]
};
---

<Layout 
  title="Blog | Carlos Quinzá"
  description="Escribo sobre tecnología, desarrollo de software, liderazgo y productividad."
  type="website"
  url="/blog"
>
  <!-- Structured Data -->
  <StructuredData type="BreadcrumbList" data={breadcrumbStructuredData} />

  <div class="min-h-screen bg-base pt-24">
    <div class="container mx-auto px-4">


      {/* Blog Grid Component */}
      <BlogGrid client:visible initialPosts={posts} initialCategory={selectedCategory} />
    </div>
  </div>
</Layout>

<style>
  /* Estilos para la transición de los filtros */
  .transition-colors {
    transition: all 0.2s ease-in-out;
  }
</style> 
