---
import Layout from '@app/layout/Layout.astro';
import { getBlogPosts } from '@app/providers/NotionProvider';
import BlogGrid from '@features/blog/utils/BlogGrid';

// Obtener posts y categorías
const posts = await getBlogPosts();
const selectedCategory = Astro.url.searchParams.get('category') || '';
---

<Layout title="Blog | Carlos Quinzá">
  <div class="min-h-screen bg-[#f9fafb] pt-24">
    <div class="container mx-auto px-4">


      {/* Blog Grid Component */}
      <BlogGrid client:visible initialPosts={posts} initialCategory={selectedCategory} />
    </div>
  </div>
</Layout>

<style>
  /* Estilos para la transición de los filtros */
  .transition-colors {
    transition: all 0.2s ease-in-out;
  }
</style> 