---
import Layout from '@app/layout/Layout.astro';
import { getAllPosts } from "@content/blog";
import BlogGrid from '@features/blog/utils/BlogGrid';

const posts = await getAllPosts();
const selectedCategory = Astro.url.searchParams.get('category') || '';
---

<Layout title="Blog | Carlos Quinzá">
  <div class="min-h-screen bg-[#f9fafb] pt-24">
    <div class="container mx-auto px-4">


      {/* Blog Grid Component */}
      <BlogGrid client:visible initialPosts={posts} initialCategory={selectedCategory} />
    </div>
  </div>
</Layout>

<style>
  /* Estilos para la transición de los filtros */
  .transition-colors {
    transition: all 0.2s ease-in-out;
  }
</style> 