---

---

<article class="mb-6">
  <div class="mb-6 md:h-64 relative shadow-lg">
    <img class="rounded shadow-lg md:h-full w-full" src="/src/assets/first_img.png" alt="" />
  </div>
  <h3 class="font-bold font-heading leading-tight text-xl mb-2">Productividad, Eficiencia y Efectividad: El Trío Esencial para Liderar Equipos de Alto Rendimiento</h3>
  <p class="text-muted text-gray-500 text-lg">En la gestión de equipos tecnológicos, se habla mucho de productividad, eficiencia y efectividad, pero ¿cómo se relacionan estos conceptos y cuándo debemos priorizarlas?</p>
</article>
