---

---

<section class="flex flex-col bg-gray-300/15 py-20 px-20 gap-10 w-full">
        <div class="flex flex-col gap-3">
        <h1 class="text-4xl font-bold">
            El camino que me define
        </h1>
        <p class="text-slate-400" >
            Mi capacidad actual se expresa en la convicción de que cada idea rediseña la experiencia.
        </p>
    </div>
    <div class="flex flex-row gap-8 justify-center items-center">
        <div class="stats-wrapper">
          <p class="heading">Proyectos Gestionados</p>
          <div class="bottom-wrapper">
            <p class="count">+ 40</p>
          </div>
        </div>
        <div class="stats-wrapper">
          <p class="heading">Proveedores Gestionados</p>
          <div class="bottom-wrapper">
            <p class="count">+ 20</p>
          </div>
        </div>
        <div class="stats-wrapper">
          <p class="heading">Formaciones Impartidas</p>
          <div class="bottom-wrapper">
            <p class="count">6</p>
          </div>
        </div>
    </div>
      

    

</section>


<style>
    .stats-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
    height: auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow:
        20px 20px 60px #e6e6e6,
        -20px -20px 60px #f3f3f3;
    }
    .heading {
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1px;
    }
    .bottom-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    }

    .bottom-wrapper p {
    font-size: 1.8em;
    font-weight: 700;
    }


    

</style>