---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import First from './First.astro';
import HomeBlog from './HomeBlog.astro';
---


	<main class="">
		<First />
		<HomeBlog />

	</main>


<style>

</style>
