---
import First from './First.astro';
import Achievements from './Achievements.astro';
import HistoricStats from './HistoricStats.astro';
import Education from './Education.astro';
import Skillset from './Skillset.astro';
import HomeBlog from './HomeBlog.astro';
---


	<main class="">
		<First />
		<div id="achievements">
			<Achievements />
		</div>
		<HistoricStats />
		<Education />
		<div id="skillset">
			<Skillset />
		</div>
		<HomeBlog />
	</main>


<style>

</style>
