---
import Achievements from './Achievements.astro';
import Education from './Education.astro';
import First from './First.astro';
import HistoricStats from './HistoricStats.astro';
import HomeBlog from './HomeBlog.astro';
---


	<main class="">
		<First />
		<Achievements />
		<HistoricStats />
		<Education />
		<HomeBlog />
	</main>


<style>

</style>
