---
import { getBlogPosts } from '@app/providers/NotionProvider';
import BlogItem from './BlogItem.astro';


const posts = await getBlogPosts();
const recentPosts = posts.slice(0, 4);
---

<div class="mx-5 sm:mx-10 mt-20">
  <div class="flex flex-col lg:flex-row lg:justify-between mb-12">
    <div class="md:max-w-sm">
      <h2 class="text-3xl mb-2 font-bold tracking-tight">
        Conóceme a través de mis artículos
      </h2>
      <a href="/blog" class="hover:text-blue-600 cursor-pointer"
        >Ver todos los artículos »</a
      >
    </div>
    <p class="text-muted text-slate-400 lg:max-w-md lg:text-sm">
      Escribo sobre tecnología, desarrollo de software, liderazgo y
      productividad. Mis artículos son una mezcla de reflexiones
      personales, experiencias profesionales y consejos prácticos. ¡Espero
      que te gusten!
    </p>
  </div>

  <div class="grid lg:grid-cols-4 md:grid-cols-2 -mb-6 gap-6 mx-auto row-gap-6">
    {recentPosts.length > 0 ? (
      recentPosts.map((post) => <BlogItem post={post} />)
    ) : (
      <div class="col-span-full text-center py-8 text-gray-500">
        No hay artículos disponibles en este momento.
      </div>
    )}
  </div>
</div>
